@use "../../styles/placeholders" as *;
@use "../../styles/variables" as *;

.PopularCategories {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 1024px) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  a {
    color: $wht;
  }

  .CategoryCard {
    height: 150px;
    background-position: center;
    background-size: cover;
    p {
      background: $mint;
      text-align: center;
      font-size: 14px;
      padding: 0.2rem;
      margin: 0;
    }
  }
}
