@use "../../styles/placeholders" as *;
@use "../../styles/variables" as *;

.SelectedProducts {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 1024px) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  a {
    color: $wht;
  }

  .ProductCard {
    height: 150px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: end;

    p {
      width: 100%;
      text-align: center;
      font-size: 14px;
      color: $wht;
      background: #00a676bf;
      margin: 0;
      padding: 0.5rem;
      display: none;

      @media (max-width: 768px) {
        display: block;
      }
    }

    &:hover {
      p {
        display: block;
      }
    }
  }
}
