@use "../../styles/placeholders" as *;
@use "../../styles/variables" as *;

.CreateAccount {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 32px;
  }

  a {
    color: $green;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-bottom: 2rem;

    label {
      margin-left: 0.1rem;
    }

    p {
      margin: 0;
    }

    input {
      background: #edecec;
      color: #000000a6;
      border: 2px solid #1d843980;
      padding: 1rem;
      margin-bottom: 1rem;
    }

    .TermsAndSubmit {
      display: grid;
      grid-template-columns: 1fr 0.1fr;
      margin-top: 2rem;
      width: 100%;

      .TermsAndConditions {
        display: flex;
        flex-direction: row;

        label {
          margin-left: 1rem;
        }

        input[type="checkbox"] {
          width: 32px;
          // height: 22px;
          margin-left: 0;
        }
      }

      .SubmitButton {
        display: flex;
        justify-content: end;
        width: 100%;
        input[type="submit"] {
          color: $wht;

          background: $green;
          padding: 0.5rem 1rem;
          border: none;
        }
      }
    }
  }
}
