@use "../../styles/placeholders" as *;
@use "../../styles/variables" as *;

.CategoriesSidebar {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
  }

  p:first-of-type {
    font-size: 20px;
    font-weight: bold;
    margin: 0.5rem 0;
  }

  .CategoriesList {
    // font-size: 14px;
    font-weight: 300;
    margin: 0.5rem 0 0 1rem;

    a {
      color: $blk;
      text-decoration: none;
    }
  }
}
